body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-wrap: anywhere;
}

div#whiteboard {
    display: flex;
    width: 800px;
    height: 60vh;
    padding: 5px 0;
    box-sizing: border-box;
}

.column {
    display: inline-block;
    width: 33%;
    background-color: whitesmoke;
    background-repeat: repeat;
    border-radius: 2px;;
    margin: 0 5px;
    box-sizing: border-box;
    box-shadow: 
    0 -1px 1px 1px white,
    1px 0 white,
    -1px 0 white,
    0 0 2px 1px black;
}

.column-title {
    margin: 10px 0 0 10px;
    font-weight: bold;
}

.card-box {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 10px;
}

.card {
    width: 100%;
    height: fit-content;
    background-color: #fcfcfc;
    border-radius: 2px;
    box-shadow: 
    0 1px 1px grey,
    0 -2px white;
    
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card:hover {
    background-color: lightgrey;
    box-shadow: 
    0 1px 2px grey,
    0 -1px 1px lightgrey;
}

.card.dragged {
    position: absolute;
    cursor: grabbing;
    background-color: lightgrey;
    box-shadow: 
    0 1px 3px grey;
}

.remove-button {
    display: none
}

.card:hover .remove-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;

    background-color: grey;
    border-radius: 2px;

    font-size: 10px;

    cursor: pointer;
}

.space {
    background-color: lightgrey;
    border-radius: 2px;
    margin-bottom: 10px;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 40px;
    max-height: 277px;
    box-sizing: border-box;
    padding: 5px;

    border: 0;
    border-radius: 2px;
    box-shadow: 
    0 1px 1px grey,
    0 -2px white;
    outline: none;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.add-link {
    background-color: whitesmoke;
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 0;
    font-size: 14px;
    color: grey;
}

.add-link:hover {
    background-color: darkgrey;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.add-card-form {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

.add-button {
    display: inline-block;
    background-color: green;
    border-radius: 2px;
    width: 100px;
    height: 25px;
    color: white;
    margin-top: 10px;
    text-align: center;
    padding-top: 3px;
    box-shadow: 0 1px 2px black;
    border: 0;
}

.add-button:hover {
    cursor: pointer;
    background-color: darkgreen;
}

.cancel-button {
    margin: 10px 0 0 20px;
    font-size: 20px;
    font-weight: bold;
}

.cancel-button:hover {
    cursor: pointer;
    color: grey;
}
